.shake {
	animation: shake 0.4s;
	animation-iteration-count: 1;
}

@keyframes shake {
	0% {
		transform: translateX(-1px);
	}
	50% {
		transform: translateX(1px);
	}
	100% {
		transform: translateX(0px);
	}
}
